<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Url Shortener for Gov Tech</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<script>
window.onload = function(){
var base_url = window.location.origin;
  document.getElementById('relativeurl').innerHTML = base_url + '/' + document.getElementById('relativeurl').innerHTML;
};
</script>
<h1>Error</h1>
<div> Invalid Short Url: <p id="relativeurl" th:text="${responseWrapper.url.shortUrl}" />
</div>
<a href="/">Submit another message</a>
</body>
</html>